/node_modules
/public/js
/public/uploads/DiranInsulator
/public/tmp
/public/assets/css/app.css
/public/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/nbproject/private/
composer.lock
app/.DS_Store
app/Model/.DS_Store
/.DS_Store
public/assets/css/app.css
