.capitalize {
    text-transform: capitalize !important;
}

.mr-auto, .mx-auto {
    margin-top: -26px !important;
}
.m-form .m-form__group {
    padding-top: 0px !important;
    padding-bottom: 12px !important;
}
.m-portlet .m-portlet__head {
    margin-top: -28px;
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 20px !important;
}
.m-portlet .m-portlet__body {
    color: #111 !important;
}


.m-form .form-control-label, .m-form .col-form-label, .m-form .m-form__group>label {
    color: #111 !important;
}

.form-control {
    font-size: 16px;
}

.width-25 {
    width: 25px !important;
}
.width-50 {
    width: 50px !important;
}
.width-80 {
    width: 80px !important;
}
.width-100 {
    width: 100px !important;
}
.width-120 {
    width: 130px !important;
}.width-130 {
    width: 130px !important;
}
.width-150 {
    width: 150px !important;
}
.width-200 {
    width: 200px !important;
}

.width-250 {
    width: 250px !important;
}
.width-350 {
    width: 350px !important;
}
.width-300 {
    width:300px !important;
}
.width-50pr {
    width: 50% !important;
}

.logo_header {  display: table;  width: 100%;  padding-top: 10rem;  }
.logo_header>a{ display:table-cell;text-decoration:none}
.logo_header>a>h1{font-weight:600;font-size:2.7rem}
.logo_header>a:last-child{text-align:center}
.logo_header>a:first-child{vertical-align:top}




                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   /* Begin body background */

.m-portlet .m-form.m-form--fit>.m-portlet__body {
    background: #f3f2f2;
}

.m-portlet .m-portlet__head {
    background: #f3f2f2;
}

.m-portlet .m-portlet__head {
    border-bottom: 1px solid #c4c5d6;
}

.form-control:disabled, .form-control[readonly] {
    background: #d7d7e2 !important;
}

.input-group .input-group-append>.input-group-text, .input-group .input-group-prepend>.input-group-text {
    background-color: #fff;
}
.select-mini{
    font-size: 31px;
    height: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 7px 1.15rem;
}

.select2-container--default.select2-container--disabled .select2-selection--single{
    cursor: not-allowed;
    background: #d7d7e2;
    border-color: #f4f5f8;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #c4c5d6 !important;
}


/* End body background */

/* Start Placeholder Style 19+ */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    font-style: italic !important;
    font-size : 13px !important;


}
::-moz-placeholder { /* Firefox 19+ */
    font-style: italic !important;
    font-size : 13px !important;
}
:-ms-input-placeholder { /* IE 10+ */
    font-style: italic !important;
    font-size : 13px !important;
}
:-moz-placeholder { /* Firefox 18- */
    font-style: italic !important;
    font-size : 13px !important;
}

/* End Placeholder Style 19+ */


.validation_msg{
    color: red;
    font-family: serif;
}

.validateRq{
    color: red;
}
/* End Placeholder Style 19+ */
.requiredField{
    color: red;
}

/* HTML Number type remove up and down arrow*/
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*---DatePicker Disable Color ---*/

.datepicker.datepicker-orient-top {
    z-index: 9999 !important;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {

    color: red !important;
    cursor: default;
}
.heading{
     margin-left:100px;
 }


.table-stock-report {
    width: 100%;
}

.table-stock-report th, .table-stock-report td {
    padding: -1.25rem;
    vertical-align: top;
    border-top: 1px solid #f4f5f8;
}

.logo_header{  display: table;  width: 100%;  padding-top: 10rem;  }
.logo_header>a{ display:table-cell;text-decoration:none}
.logo_header>a>h1{font-weight:600;font-size:2.7rem;color:#000}
.logo_header>a:last-child{text-align:center}
.logo_header>a:first-child{vertical-align:top}

/*--- Invoice ---*/
.m-invoice-2 .m-invoice__wrapper .m-invoice__head .m-invoice__container .m-invoice__logo {
    display: table;
    width: 100%;
    padding-top: 2rem;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__head .m-invoice__container.m-invoice__container--centered {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__body.m-invoice__body--centered {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 0 0;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__footer .m-invoice__table.m-invoice__table--centered {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__body--centered .m-invoice__items {
    /*border-top: 1px solid #ebedf2;*/
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__body--centered .m-invoice__items {
    display: table;
    width: 100%;
    padding: 6rem 0 3rem 0;
    table-layout: fixed;
}
.m-invoice-2 .m-invoice__wrapper .m-invoice__body--centered .m-invoice__items .m-invoice__item {
    display: table-cell;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__body--centered  .m-invoice__items .m-invoice__item .m-invoice__subtitle {
    font-weight: 600;
    padding-bottom: 0.5rem;
    border-top: 1px solid grey;
    width: 120px;
    text-align: center;
}
.m-invoice-2 .m-invoice__wrapper .m-invoice__body--centered .m-invoice__items .m-invoice__item>span {
    display: block;
}



/*for print*/
.m-invoice-2 .m-invoice__wrapper .m-invoice__body table tbody tr td {
    padding: 0rem 1rem;
    vertical-align: middle;
    border-top: none;
    font-weight: 600;
    font-size: 1.1rem;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__body table tbody tr:first-child td {
    padding-top: 0;
}
.m-invoice-2 .m-invoice__wrapper .m-invoice__body table thead tr th {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-top: none;
}

.m-invoice-2 .m-invoice__wrapper .m-invoice__head .m-invoice__container .m-invoice__items {
    border-top: 0px solid #ebedf2;
}
.print-head-title{
    color: #3f4047;
    font-weight: 600;
    font-size: 2.7rem;
    text-decoration: none
}

.signature-section .signature-right{
    margin-left: 239px !important;
}

.signature-section .signature-center{
    margin-left: 100px !important;
}

/*
.signature-section{
    display: none !important;
}*/

/** Modify Signature Design  Start**/
.inv-fullheight .inv-signature-row{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 60px;
    width: 90%;
}

.inv-fullheight .inv-signature-row .signature-item{
    width: 33.33%;
    display: block;
    float: left;
}

.inv-fullheight .inv-signature-row .signature-item span{
    border-top: 1px solid #333;
    text-align: center;
    width: 140px;
    display: block;
    font-weight: 600;
}

.inv-fullheight .inv-signature-row .signature-item:nth-child(2) span{
    margin: 0 auto;
}

.inv-fullheight .inv-signature-row .signature-item:last-child span{
    float: right;

}
/** Modify Signature Design  End**/

/*--------Permission Page-------------*/
.module-name{
    color: #4CAF50 !important;
    font-weight: 600;
    font-size: 15px;
}

.m-checkbox-list, .m-radio-list {
    padding: 0 15px;
    color: red !important;
}

.m-form__group.row .m-checkbox-inline, .m-form__group.row .m-radio-inline {
    margin-top: 5px;
    padding-left: 40px;
    color: blue !important;
}

.m-checkbox {
    color: #0a0a0a;
}

/*---------- Menu CSS---------*/
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
    font-weight: 600;
}

.m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text {
    font-weight: 600;
}


.btn-brand {
    background-color: #716aca;
    border-color: #716aca;
}

.btn-brand:hover {
    color: #fff;
    background-color: #564ec0;
    border-color: #4d44bd
}

.btn-brand:focus,
.btn-brand.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(113, 106, 202, 0.5);
    box-shadow: 0 0 0 .2rem rgba(113, 106, 202, 0.5)
}

.print_only {
    display: none !important;
}

/*Remove & Add to fullbody Box-shaddow from report body*/
.m-content .m-portlet{
    box-shadow: none !important;
}


.m-invoice-2 .m-invoice__wrapper .m-invoice__head .m-invoice__container .m-invoice__items .m-invoice__item .m-invoice__subtitle{
    font-size: 15px;
}

/*
HR Leave Balance Check*/
.leave-balance-check{
    display: block;
    width: 100%;
}
.leave-balance-check fieldset{
    padding: 30px;
    border: 1px solid #ddd;
}
.leave-balance-check fieldset legend{
    margin: 0 auto;
    text-align: center;
    color: #00a551;
    font-weight: 600;
}
.leave-balance-check .leave-balance-check__column{
    width: calc(100%/3);
    float: left;
}
.leave-balance-check .leave-balance-check__column .column__row{
    display: block;
    padding: 5px;
}
.leave-balance-check .leave-balance-check__column .column__row div{
    width: 50%;
    float: left;
    margin: 0 0 5px;
}
.leave-balance-check .leave-balance-check__column .column__row div span{
    padding: 10px;
    display: block;
    background: #fff;
}
.leave-balance-check .leave-balance-check__column .profile_image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.leave-balance-check .leave-balance-check__column .profile_image img{
    width: 100%;
    background: #ddd;
}
.leave-balance-check .leave-balance-check__column:nth-child(3){
    padding-left: 30px;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px){
    .dashboard-top-block .dashboard-top-block__bg img{
        height: 80vh !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .dashboard-top-block .dashboard-top-block__bg img{
        height: 80vh !important;
    }
}

@media only screen and (max-width: 767px) {
    .leave-balance-check .leave-balance-check__column{
        width: 100% !important;
    }
    .leave-balance-check .leave-balance-check__column:nth-child(3) {
        padding-left: 0 !important;
    }
    .dashboard-top-block .dashboard-top-block__bg img{
        height: 100vh !important;
    }
}

/*//Dashboard*/
.dashboard-top-block{
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 300px;
}
.dashboard-top-block .dashboard-top-block__bg{
    position: absolute;
}
.dashboard-top-block .dashboard-top-block__bg img{
    width: 100%;
    height: 100%;
}

.dashboard-top-block:first-child .align-block{
    display: block;
}

.dashboard-top-block .m--font-success {
    color: #34bfa3 !important;
    text-align: center;
    display: block;
}
.dashboard-top-block .col .m--font-brand {
    color: #fff !important;
    text-align: center;
    display: block;
    font-size: 24px !important;
}
.dashboard-top-block .col .m--font-danger {
    color: #ddd! important;
    font-size: 16px !important;
    font-weight: normal !important;
    text-align: center;
    display: block;
}

.dashboard-top-block .align-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-top-block .align-block .m-widget1{
    padding: 15px 15px 0;
}

.dashboard-single-wrapper{
    /*background: linear-gradient(180deg, #f3f3f3, #fff, #cccee0) !important;*/
    border: 1px solid #d9dbea !important;
}

.dashboard-block{
    color: #3b4071 !important;
    border: 1px solid #3b4071;
    box-shadow: 0 3px 15px -5px #3b4071;
    border-radius: 5px;
    background: linear-gradient(180deg, #f3f3f3, #fff, #cccee0);
}

.dashboard-block:hover{
    /*background: linear-gradient(60deg, #0ea95a, #3b4071);*/
    /*background: linear-gradient(180deg, #31323c, #0ea95a, #3b4071);*/
    background: linear-gradient(180deg, #116339, #0ea95a, #1c6f45);
    transition: 0.5s ease;
    border : 1px solid #0ea95a;
}
.dashboard-block:hover .details .title
{
    color: #fff;
    transform: translateX(10%);
    transition: 0.5s ease-out;
}
.dashboard-block:hover .details .sub{
    color: #fff;
    transform: translateX(45%);
    transition: 1s ease-in;
}

.dashboard-block .title{
    font-weight: 500;
}
.dashboard-block .sub{
    font-weight: 600;
}
button:focus{
    outline: none !important;
    outline: 0 auto -webkit-focus-ring-color !important;
}


